#myStories {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: space-evenly;
    border: 5px solid black;
}

.myStoryButton, .newStory {
    border-radius: 10px;
}

.newStory {
    background-color: grey;
    grid-row-start: 1;
    grid-column-start: 1;
}